body {
  min-height: 100vh;
  font-family: "Montserrat";
 
  
}

.pro-text{
  
    font-size: 3em;
    text-align: center;
  
}

h1{

  font-family: "Montserrat-Bold";
  font-size: 3.5em;
  line-height: 1.5;
  
}

h2{

  font-family: "Montserrat-Bold";
  font-size: 2em;
  line-height: 1.5;
  text-align: center;
}
h3{

  font-family: "Montserrat-Bold";
  
}

h5{
  font-family: "Montserrat-Bold";
  font-size: 1em;
  font-weight: bold;

}
.text{

  text-align: left;
}
p{
  font-size: 1.20em;
  color: #333;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3em;
  line-height: 1.5;
  
}

.section-heading {
  font-size: 3.5em;
  line-height: 1.5;
}
.card{
  height: 100%;
}

/* Title */
#title .container-fluid {
  padding: 3% 15% 7%;
}
#title
{
  background-color:wheat;
  color: #fff;
  text-align: left;
  color: black;
}

/*Images*/
.title-image {
  
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.responsive {
  height: 9rem;
  float: left;
  width:  120px;
  height: 120px;
  object-fit: cover;
  margin: auto;
}

/* Containers */
.container-fluid{
  padding: 7% 1%;
}

/* NavBar */

.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 1.75em;
  
}
.nav-item{
  
  padding: 0 18px;
}

.nav-link{
  font-weight: "Montserrat-light";
  font-size: 1.25em;
}



/*Pricing*/
#pricing{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 100px;
}

.price-text {
font-size: 0.75em;
line-height: 1.5;
}


.pricing-column {
padding: 3% 2%;
} 


/*Footer*/

#footer{
  text-align: center;
  background-color: wheat;
  font-size: 1em;
}
.text{
  font-size: 1.5em;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

/*Sections*/
.colored-section{
  background-color: wheat;
  }

  .white-section{
    background-color: #fff;
  }
  

/*Media query for title*/
@media (max-width: 1028px) {

  #title {
    text-align: left;
  }
  .title-image {
    position: static;
    transform: rotate(0);
 
}

}

/*Media Query*/
@media (max-width: 980px) {

  .navbar-brand{
  
    font-size: 2em;
    
  }
  
  .nav-link{
    font-weight: "Montserrat-light";
    font-size: 1.5em;
  }
  
    
  
  .social-icon{

    font-size: 1.5em;
  }
  
 .section-heading{
  font-size: 3.5em;
 }
 h2{
  font-size: 2.5em;
}

h5{
  font-size: 1.75em;
}

p {
  font-size: 2em;
  
}

}




