
body {
  min-height: 100vh;
  font-family: "Montserrat";

}

.b{
  font-size: 1.5em;
  font-family: "Montserrat-Bold";
  color: #333;

}


h1{

  font-family: "Montserrat-Bold";
  font-size: 3.5em;
  line-height: 1.5;
  
}

h2{

  font-family: "Montserrat-Bold";
  font-size: 3.5em;
  line-height: 1.5;
  text-align: center;
}
h3{

  font-family: "Montserrat-Bold";

}
h5{
  font-family: "Montserrat-Bold";
  font-size: 2em;

}
.text{

  text-align: left;
}
p{
  color:#8f8f8f;
  font-size: 1em;
}
.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3em;
  line-height: 1.5;
  
}

.section-heading {
  font-size: 3.5em;
  line-height: 1.5;
}
/*Modal*/
#modal-button{
  position:absolute; 
  font-size: 0.75em;
  top:0; 
  left:0;
}

#modal-button:hover {
color: #5ceb57;
font-size: 1em;
transition: 0.3s ease;
}

/*Title*/

#title .container-fluid {
  padding: 3% 15% 7%;
}
#title
{
  background-color:wheat;
  color: #fff;
  text-align: left;
  color: black;
}

/*Images*/
.title-image {
  
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.responsive {
  height: 9rem;
  float: left;
  width:  80px;
  height: 80px;
  object-fit: cover;
  margin: auto;
}

/*Containers*/
.container-fluid{
  padding: 7% 1%;
}




/*NavBar*/
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 1.75em;
  
}
.nav-item{
  
  padding: 0 18px;
}

.nav-link{
  font-weight: "Montserrat-light";
  font-size: 1.25em;
}

/*Sections*/
.white-section{
  background-color: #fff;
}


.colored-section{
background-color: wheat;
}

/*Footer*/

#footer{
  text-align: center;
  background-color: wheat;
  font-size: 1em;
}
.text{
  font-size: 1.5em;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}


/*Pricing*/
#pricing{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
  } 

  /*Card*/
.card {
  text-align: left;
  margin: 0 auto;
  height: 100%;
  width: 85%;                         
  
}

.card-body {
  padding: 0.5em;
}
.content-section {
    margin: 0.5em;
}

.btn {
    text-align: center;
    font-size: 1em;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: #5bf256;
    border: none;
    border-radius: .3em;
   
}

.shop-item {
    margin: 30px;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}
.course-number {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  color: #333;
  margin-bottom: 15px;
}




.card-text{
  color: #333;
  
}

.course-length
{
  font-size: 1em;
  color: #333;
}
.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    flex-grow: 1;
    color: black;
    font-weight: bold;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Container*/

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1.5em;
}

/*Cart Items*/
.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-header {
    
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
    font-size: 1em;
}

.cart-price {
    width: 20%;
    font-size: 1em;
    color: #333;
}

.cart-quantity {
    width: 35%;
    font-size: 1em;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .1em;
    font-weight: bold;
}


.text{
  font-size: 1.5em;
  text-align: center;
}

.btn-danger:hover {
    background-color: red;
}

.cart-quantity-input {
  width: 2.65em;
  margin-right: 20px;
  border-radius: 5px;
    
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1em;
    color: black;
    margin-right: 10px;
}

.cart-total-price {
    color: #333;
    font-size: 1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1em;
}

/*Media query for title*/
@media (max-width: 1028px) {

  #title {
    text-align: left;
  }
  .title-image {
    position: static;
    transform: rotate(0);
 
}

}

/*Media query*/
@media (max-width:980px) {
  
  .course-length  {
    font-size: 2em;
  }

  .course-number{
    font-size: 1.75em;
  }
  
  .shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: 15px;
}
.card-text{
  font-size: 2em;
  
}

#modal-button{
  position:absolute; 
  font-size: 1.5em;
  top:0; 
  left:0;
}

#modal-button:hover {
color: #5ceb57;
font-size: 2em;
transition: 0.3s ease;
}

.shop-item-price {
  flex-grow: 1;
  color: black;
  font-weight: bold;
  font-size: 1.75em;
}
.btn {
  text-align: center;
  font-size: 1.20em;
  vertical-align: middle;
  padding: .67em .67em;
  cursor: pointer;
}

.responsive {
  height: 9rem;
  float: left;
  width:  150px;
  height: 150px;
  object-fit: cover;
  margin: auto;
}

.cart-item {
  width: 45%;
  font-size: 1.75em;
}

.cart-price {
  width: 20%;
  font-size: 1.75em;
  color: #333;
}

.cart-quantity {
  width: 35%;
  font-size: 1.75em;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .1em;
  font-weight: bold;
}


.text{
font-size: 1.5em;
text-align: center;
}

.btn-danger:hover {
  background-color: red;
}

.cart-quantity-input {
width: 2em;
margin-right: 20px;
border-radius: 5px;
  
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-size: 1.5em;
  margin-right: 10px;
}

.cart-total-price {
  font-size: 1.75em;
}

}